.p-home {
    .c-title {
        position: relative;
        height: 180px;
        width: 100%;
        background-color: #00000040;

        .i-title {
            position: relative;
            top: 96px;
            left: 60px;
        }

        .i-title-line {
            position: absolute;
            width: 100%;
            height: 1px;
            top: 180px;
            left: 0;
        }
    }

    .c-content {
        width: 430px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;

        .c-createplan {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                padding: 8px 0px;
            }
        }

        .c-plancollection {
            margin-top: 12px;
            list-style: none;

            h4 {
                text-align: center;
            }

            button {
                height: 34px;
            }

            .e-planbutton span {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;                
                justify-content: space-between;

                .c-planaffixes {
                    display: flex;
                    align-content: center;

                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}