.p-plan {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .e-spinner {
        margin-top: 120px;
    }

    .e-closed {
        margin-top: 100px;
        width: 380px;
    }

    .c-editbar {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;

        .c-forcesbar {
            width: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .bp3-progress-bar {
                background: #3c3c3c;
            }
        }
    }
}